# Virtual environment
env/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Data files
*.csv
*.tsv
*.json

# VS Code settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
